[requires]
python_version = "3.6"

[packages]
jedi = "*"
neovim = "*"
pylint = "*"
pynvim = "*"
pyvim = "*"
vim-vint = "*"
vint = "*"

# vim-ghost/GhostText
python-slugify = "*"
simplewebsocketserver = "*"
